@font-face {
  font-family: "vtks-rash";
  src: url("../fonts/vtks-rash/vtks-rash.ttf");
  format("truetype");
}

h1, h2, h3, h4 {
  font-family: "vtks-rash", sans-serif
}


main {
  margin-left: 238px;
}

.carousel {
  display: inline-block;
  height: 500px;
  width: 100%;
}

.navColor {
  background-color: #a3a3c2;
  opacity: .8;
}

body {
  background-image: url('images/skate-wallpaper.jpg');
  background-size: stretch;
  /*background-repeat: no-repeat;*/
  background-image:url(images/asphalt-wall.jpg);
  background-size: 100%;
}

.noColor {
  opacity: 1;
}

.promos {
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  margin: 25px;
  width: auto;

  border: 2px solid black;
  background-color: rgba(56, 78, 130, .5);
}

.promos img {
  margin: 25px;
  opacity: .8;
}

#input-message {
  height: 50px;
}

.input-succ {
  color: green;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

.input-err {
  color: red;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

.signup {
  width: 80%;
  margin: 0 12% 30px auto;
  text-align: center;
  /*background-color: rgba(56, 78, 130, .5);*/
  background-image: url('images/graffiti.jpeg');
  background-size: stretch;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px 8px inset;
  border-radius: 10px;
}

.signup-form {
  width: 100%;
}

.signup-input {
  height: 50px;
  width: 80%;
  margin: 30px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 10px;
}

.signup-btn {
  display: block;
  background-image: url('images/sendit.svg');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 10%;
}

.navbar {
  width: 238px;
  display: inline-block;
  position: fixed;
  height: 100%;
}

.myCart{
  width: 250px;
  height: 65px;
}

.dropbtn button:hover {
  background-color: #847EC2;
}

.dropbtn {
  background-color: #a3a3c2;
  border: none;
  margin-left: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #8467C2;
    opacity: 1;
    z-index: 20;
    margin-left: 100px;
    margin-top: -20px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #847EC2}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.otherlinks > a {
  color: black;
  margin-left: 15px;
  margin-top: 25px;
}


#board {
  max-width: 180px;
}

#logo {
  max-width: 100%;
  margin: 10px auto;
  border-radius: 10%;
}

footer {
  display: block;
  margin-left: 238px;
  bottom: -20px;
  /*left: 0;*/
  z-index: 0;

}

.footerLinks,
.footer-h3 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

legal {
  text-align: center;
  clear: both;
  display: block;

}

.footer-column {
  display: inline-block;
  text-align: center;
  max-width: 25%;
}
